html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/******************/
/*     header     */
/******************/

.header-content {
    position: fixed;
    height:100px;
    width:85%;
    left: 0;
    right: 0;
    margin: 0px auto;
    display: flex;
    //background-color: white;
    z-index: 100;
    justify-content: space-between;
    //border: 1px black solid;
    
}

.header-logo{
    width:5em;
    display: flex;
    align-items: center;
    overflow: hidden;
    //border: 1px solid black;
}

.order-button{
    display: flex;
    align-items:center;
    color:grey;
    font-size: 2em;
    padding-right: 10px;
}

.nav-bar{
    //position: fixed;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //border: 1px black solid;

}

.nav-bar-content{
    width: 100%;
    display:flex;
    //flex-direction: column;
    //border: 1px black solid;
    justify-content: space-around;
}

.nav-button{
    width: 100%;
    text-decoration: none;
    text-transform:lowercase;
    text-align: center;
    font-size: 2em;
    color:grey;
    //padding:0px 50px;
    //border: 1px black solid;
    border-right: 1px grey solid;
    
}

.nav-contact {
    border: none;   
}

/******************/
/*   main site    */
/******************/


.site{
    height: 100%;
}

.site-content{
    display: flex;
    flex-direction: row;
    height:75%;
    width:85%;
    margin:auto;
    padding-top:100px;
    //border: 1px black solid;
    
    
}
.site-sect{
    width: 50%;
    //margin-top:100px;
    
    
}

/******************/
/*left side items */
/******************/

.sect-1{
    background: rgba(100, 200, 255, 0.1);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px 0 0 25px;
    
}

.sect-1-wrapper {
    display:flex;
    flex-direction: column;
    //justify-content: center;
    height: 90%;
    width: 60%;
    //border: 1px black solid;
    padding-right: 5%;
    
}

.main-image {
    height: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    //overflow:hidden;
    border-radius: 25px;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.2);
}

.selected-image {
    height: 100%;
    wdith: 100%;
    
}

.pointer{
    position:fixed;
    color: red;
    text-align: center;
    width: 16px;
    height: 16px;
    font-size: 15px;
    border: 2px red solid;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 80px;
    cursor: pointer;
}

.products {
    display: flex;
    flex-direction: row;
    //border: 1px black solid;
    justify-content: space-around;
    }

.product-icons {
    display: flex;
    //border: 1px black solid;
    padding-top:50px;
    width:30%;
    cursor: pointer;
}

.icon-image{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.2);
}

/******************/
/*right side items */
/******************/

.sect-2{
    background: rgba(100, 200, 255, 0.1);  
    height: 100%;
    display: flex;
    flex-direction: row;
    //justify-content: flex-start;
    align-items: center;
    border-radius: 0 25px 25px 0;
}

.sect-2-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 70%;
    //border: 1px black solid;
    padding-left: 5%;
}

.zoom-image {
    //height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    //width: 100%;
    border-radius: 25px;
    
}

.zoomed-selection {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
    //box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.2);
}

.product-info-wrapper{
    background: rgba(0, 0, 255, 0.05);
    //border: 1px black solid;
    padding: 5%;
    border-radius: 25px;
    //box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.2);
}
.product-info {
    height: 70%;
    padding-top: 1%;
}


/******************/
/*     footer     */
/******************/

.social{
    display: flex;
    padding-top:20px;
    //width:100%;
    //justify-content: center;
}

.social-wrapper{
    //width:100%;
    height:2em;
    //background: rgba(0,0,0,0.8);
    display: flex;
    //justify-content: center;
    //align-items: center;
}
.social-wrapper a{
    width:2em;
    padding: 0 5px;
}

.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 0;
    width: 85%;
    height: 100px;
    margin: 0 auto -100px;
    //background-color: rgba(10,10,10,0.1);
}
.footer-wrapper{
    //width:90%
}