/*
mobile css
*/

@media only screen and (min-width : 320px){
    body, div, p{
        padding:0;
        margin:0;
    }

    .landing-page{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width:100%;
        background: black;
    }
    .intro-image-mobile{
        width:100%;
    }

    /* this class is added to items that will not show up on mobile*/
    .no-mobile{
        display:none;
    }
    .desc-sect-container{
        position: relative;
        //z-index: 100;
        //min-height:100px;
        overflow: auto;
        background:#151515;
    }

    .desc-sect-words{
        margin:15px;
        background:rgba(255,255,255,0.6);
        padding:5px;
        box-shadow:0 0 5px gray;
        line-height: 2em;
    }

    .desc-sect-words h1{
        text-align: center;
        font-size: 4em;
    }
    
    .prod-sect-words{
        margin:15px;
        background:rgba(255,255,255,0.6);
        padding:5px;
        box-shadow:0 0 5px gray;
        line-height: 2em;
    }

    .prod-sect-words h1{
        text-align: center;
        font-size: 4em;
    }
    
    .detail-sect{
        display:flex;   
    }
}

@media only screen and (min-width :481px) and (max-width: 699px){
    body, div, p{
        padding:0;
        margin:0;
    }
    .no-mobile{
        display:none;
    }
}
@media only screen and (min-width: 700px){
    .no-mobile{
        display:block;
    }
    .mobile{
        display:none;
    }
    .landing-page{
        position: fixed;
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow:hidden;
        z-index:10;
    }
    
    .logo{
        width:300px;
    }
    
    .intro-sect{
        background: #151515;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        width: 100%;
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .intro-image{
        width:100%;
        height:100%;
        position: fixed;
        top:0;
        left:0;
    }
    .intro-image-container{
        width:100%;
        height:100%;
    }
    
    .intro-image-2nd-page{
        background:url("../images/full/background_1920.png") no-repeat center;
        background-size:cover;
        height:100%;
        width:100%;
        overflow: hidden;
        position: absolute;
        clip: rect(auto,auto,auto,auto);
    }
    
    .intro-image-3rd-page{
        background:url("../images/full/background_1920_blue.png") no-repeat center;
        background-size:cover;
        height:100%;
        width:100%;
        overflow: hidden;
        position: absolute;
        clip: rect(auto,auto,0px,auto);
    }
    
    .intro-image-4th-page{
        background:url("../images/full/BG_hangerBar_1920.png") no-repeat center;
        background-size:cover;
        height:100%;
        width:100%;
        overflow: hidden;
        position: absolute;
        clip: rect(auto,auto,0px,auto);
    }
    
    .intro-image-5th-page{
        background:url("../images/full/background_1920_green.png") no-repeat center;
        background-size:cover;
        height:100%;
        width:100%;
        overflow: hidden;
        position: absolute;
        clip: rect(auto,auto,0px,auto);
    }
    
    .intro-image-6th-page{
        background:url("../images/full/BG_hangerBar_1920.png") no-repeat center;
        background-size:cover;
        height:100%;
        width:100%;
        overflow: hidden;
        position: absolute;
        clip: rect(auto,auto,0px,auto);
    }
    
    .intro-image-border{
        background:url("../images/full/border.png") no-repeat center;
        background-size:cover;
        height:100%;
        width:100%;
        overflow: hidden;
        position: absolute;
        clip: rect(auto,auto,auto,auto);
    }
    
    .desc-sect{
        background: #151515;
        opacity: 1.0;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .desc-sect-container{ 
        background-color:transparent;
        height:80%;
    }
    
    .desc-sect-words{
        line-height: 2em;
    }
    
    .prod-sect-words h1{
        line-height:1.2em;
    }
    .prod-sect-words{
        line-height: 2.5em;
    }
    
    .animation-sect{
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;    
    }
    
    .animation-sect-container{
        position: relative;
        overflow: auto;
    }
    
    .prod-sect{
        height: 100%;
        //background: #151515;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        
    }
    
    .prod-sect-container{
        position: relative;
        //min-height:100px;
        overflow: auto;
    }

    .detail-sect{
        height: 100%;
        //background: #151515;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        
    }
    .detail-sect-container{
        position: relative;
        overflow: auto;
        
    }
}

@media only screen and (min-width: 1000px){
    .no-mobile{
        display:block;
    }
    
    /*.intro-image-2nd-page, .intro-image-3rd-page, .intro-image-4th-page, .intro-image-border{
        min-width: 1000px;
        width:75%;
    }*/
    
    .desc-sect{
        height:100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .desc-sect-container{ 
        background-color:transparent;
        width:1150px;
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;                
    }

    .desc-sect-words{
        width:500px;
        margin:20px 0;
        padding:0;
        border-radius:15px;

    }

    .desc-sect-words p{
        margin:15px;
    }
    
    .prod-sect-container{ 
        background-color:transparent;
        width:1150px;
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;                
    }

    .prod-sect-words{
        width:700px;
        margin:20px 0;
        padding:0;
        border-radius:15px;

    }

    .prod-sect-words p{
        margin:15px;
    }
    
    .detail-sect-container{
        display:flex;
        width:1150px;
    }
    
    .item{
        height:800px;
        width:534px;
        background:url("../images/optimized/FrontViewTop1.png") no-repeat center;
    }
    
    .hotspot{
        color:red;
        font-size:1.5em;
        position:relative;
        width:25px;
        height:25px;
        text-align: center;
        border-radius:10px 10px;
        cursor: pointer;
    }
    
    .info{
        //height:20%;
        width:300px;
        margin:10px;
        background:rgba(255,255,255,0.8);
        padding:15px;
        border-radius:25px 25px;
        box-shadow:0 0 5px gray;
        line-height: 2em;
        position: relative;
        opacity: 0;
    }
    
    .spot1{
        top:180px;
        left:60px;
    }
    .info-left1{
        top:150px;
    }
    .spot2{
        top:260px;
        left:90px;
    }
    .info-left2{
        top:100px;   
    }
    .spot3{
        top:290px;
        left:15px;
    }
    .info-left3{
        top:0px;   
    }
    .spot4{
        top:450px;
        left:170px;
    }
    .info-left4{
        top:50px;   
    }
    .spot5{
        top:60px;
        left:340px;
    }
    .info-right1{
        top:100px;
    }
    .spot6{
        top:110px;
        left:300px;
    }
    .info-right2{
        top:-50px;
    }
    .spot7{
        top:320px;
        left:330px;
    }
    .info-right3{
        top:-40px;
    }
    .spot8{
        top:480px;
        left:380px;
    }
    .info-right4{
        top:-100px;
    }    

    
    .detail_col_1{
        //display: flex;
        //justify-content;
        
        
    }

}

@media only screen and (min-width: 1700px){
    .desc-sect-container{ 
        width:1300px;
    }

    .desc-sect-words{
        width:600px;
    }   
}