/*
mobile css
*/

@media only screen and (min-width : 320px){
    body, div, p{
        padding:0;
        margin:0;
    }

    .landing-page{
        display:flex;
        align-content: center;
        justify-content: center;
        width:100%;
        background: black;
    }
    .intro-image-mobile{
        width:100%;
    }

    /* this class is added to items that will not show up on mobile*/
    .no-mobile{
        display:none;
    }
    .desc-sect-container{
        position: relative;
        //z-index: 100;
        //min-height:100px;
        overflow: auto;
        background:#151515;
    }

    .desc-sect-words{
        margin:15px;
        background:rgba(255,255,255,0.6);
        padding:5px;
        box-shadow:0 0 5px gray;
        line-height: 2em;
    }

    .desc-sect-words h1{
        text-align: center;
        font-size: 4em;
    }
}

@media only screen and (min-width :481px) and (max-width: 699px){
    body, div, p{
        padding:0;
        margin:0;
    }
    .no-mobile{
        display:none;
    }
}
@media only screen and (min-width: 700px){
    .no-mobile{
        display:block;
    }
    .mobile{
        display:none;
    }
    .landing-page{
        position: fixed;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow:hidden;
        z-index:10;
    }
    
    .logo{
        width:300px;
    }
    
    .intro-sect{
        background: #151515;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content:center;
        align-items: center;
    }
    .intro-image{
        width:100%;
        height:100%;
        position: fixed;
        top:0;
        left:0;
    }
    .intro-image-container{
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center; 
    }
    .intro-image-2nd-page{
        width:100%;
        min-width:700px;
        position: absolute;
        top: 0;
        left:0;
        bottom: 0;
        right:0;
        margin:auto;
        opacity:1;
        visibility: visible;
        clip:rect(0px,auto,auto, auto);
    }
    .intro-image-3rd-page{
        width:100%;
        min-width:700px;
        position: absolute;
        top: 0;
        left:0;
        bottom: 0;
        right:0;
        margin:auto;
        opacity:1;
        visibility: visible;
        clip:rect(auto,auto,0px, auto);
    }
    .intro-image-border{
        width:100%;
        min-width:700px;
        position:absolute;
        top: 0;
        left:0;
        bottom: 0;
        right:0;
        margin:auto;
        opacity:1;
        visibility: hidden;
    }
    
    .desc-sect{
        background: #151515;
        //visibility: hidden;
        opacity: 0.0;
    }
    .desc-sect-container{ 
        background-color:transparent;
    }
    
    .desc-sect-words{
        line-height: 2em;
    }
}

@media only screen and (min-width: 1000px){
    .no-mobile{
        display:block;
    }
    
    .intro-image-2nd-page, .intro-image-3rd-page, .intro-image-border{
        min-width: 1000px;
        width:75%;
    }
    
    .desc-sect{
        height:1000px;        
    }

    .desc-sect-container{ 
        background-color:transparent;
        width:1100px;
        display:flex;
        justify-content: flex-end;                
    }

    .desc-sect-words{
        width:50%;
        margin:20px 0;
        padding:0;
        border-radius:15px;

    }

    .desc-sect-words p{
        margin:15px;
    }

}